
/* Use a milder dark theme background color */
@media screen {
  [data-md-color-scheme="slate"] {
    --md-default-bg-color: hsl(232.5, 14.8%, 21.2%);
  }
}

@media only screen and (min-width: 76.25em) {
    .md-main__inner {
      max-width: 85vw;
    }
    .md-sidebar--primary {
      left: 0;
    }
    .md-sidebar--secondary {
      right: 0;
      margin-left: 0;
      -webkit-transform: none;
      transform: none;   
    }
  }